@tailwind base;
@tailwind components;

@import "components/buttons";
@import "components/forms";

@tailwind utilities;


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}