<div class="my-5 flex flex-col items-center">
    <h2 class="text-4xl font-bold text-center text-blue-500 m-2">Make a Log</h2>

    <%= render 'form', log: @log %>

    <%= link_to 'Back', patient_logs_path(@patient), class: "btn btn-default m-2" %>
</div>